@model EWProjecto.Models.ModelViews.CursoModel
           
@{
    ViewBag.Title = "Adicionar curso";
}
<div class="conteudoDividido">
	<div class="conteudoDivididoEsquerda">
		<h1>Adicionar curso</h1><br/>
        @using (Html.BeginForm())
        {
            <p>@Html.TextBoxFor(m => m.sigla) @Html.LabelFor(m => m.sigla)</p>
            <p>@Html.TextBoxFor(m => m.descricao) @Html.LabelFor(m => m.descricao)</p>
            @Html.ValidationSummary()
            <p></p>
            <div class = "eliminar">
				<a href="@Url.RouteUrl("Default", new { controller = "Cursos", action = "Index" })">
					<div class = "textoSubMenu">Voltar atrás</div>
					<div class = "botaoDentroDireita"><img src="@Url.Content("~/Content/Imagens/Icones/returnBranco.png")" alt ="Voltar Atrás"/></div>
				</a>
			</div>
            <p class="submit"><input class = "confirmar" type="submit" value="Adicionar"/></p>
        } 
	</div>
	<div class="conteudoDivididoDireita">
		<img width="200px" src="@Url.Content("~/Content/Imagens/material.png")" alt = "Curso"/> 
	</div>
</div>
<div class="clear"></div>	
