@model EWProjecto.Models.ModelViews.DisciplinaModel

@{
    ViewBag.Title = "Lista de disciplinas";
}

<div class = "conteudoNormal">    
    <h1>Lista de disciplinas</h1><br/>
    <div class = "adicionar">
		<a href="@Url.RouteUrl(new { controller = "Disciplinas", action = "Add" })">
		    <div class = "textoSubMenu">Adicionar disciplina</div>
		    <div class = "botaoDentroDireita"><img src="@Url.Content("~/Content/Imagens/Icones/adicionarBranco.png")" alt="Adicionar disciplina"/></div>
		</a>
	</div>
    @if (Model.disciplinas.Count > 0)
    {
        <div class="clear"></div>
		<ul class = "navigateMenu">
            @if (Model.disciplinas.HasNextPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("DisciplinaPage", new { page = (Model.disciplinas.PageIndex + 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></a></li>
            }
            else
            { 
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></li>
            }
            @if (Model.disciplinas.HasPreviousPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("DisciplinaPage", new { page = (Model.disciplinas.PageIndex - 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></a></li>
            }
            else
            {
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></li>
            }
		</ul>
        <table class = "listasMaterial">
            @foreach (var disciplina in @Model.disciplinas)
            {
	        <tr>
		        <td></td>
		        <td class = "listasItem">
			        <div class = "listasMaterialTexto"> @disciplina.nome </div>
			        <ul class = "listasMaterialMenu">
				        <li class="botaoDentroDireita"><a href="@Url.RouteUrl(new { controller = "Disciplinas", action = "Delete", oid = disciplina.oid })"><img src="@Url.Content("~/Content/Imagens/Icones/eliminar.png")" alt="eliminar"/></a></li>
			        </ul>
		        </td>
	        </tr>
            }
        </table>
		<ul class = "navigateMenu">
            @if (Model.disciplinas.HasNextPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("DisciplinaPage", new { page = (Model.disciplinas.PageIndex + 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></a></li>
            }
            else
            { 
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></li>
            }
            @if (Model.disciplinas.HasPreviousPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("DisciplinaPage", new { page = (Model.disciplinas.PageIndex - 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></a></li>
            }
            else
            {
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></li>
            }
		</ul>
    }
    else
    {
        <p>Não existem disciplinas para mostrar.</p>
    }
</div>

