@model EWProjecto.Models.ModelViews.HomeModel
  
@{
    ViewBag.Title = "Início";
}

<div class = "conteudoNormal">    
    <h1>Listas recentemente actualizadas</h1><br/>
    @if (Model.Count > 0)
    {
        <div class="clear"></div>
		<ul class = "navigateMenu">
            @if (Model.HasNextPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("HomeNormal", new { page = (Model.PageIndex + 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></a></li>
            }
            else
            { 
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></li>
            }
            @if (Model.HasPreviousPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("HomeNormal", new { page = (Model.PageIndex - 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></a></li>
            }
            else
            {
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></li>
            }
		</ul>
        <table class = "listasMaterial">
            @foreach (var listaMaterial in @Model)
            {
	        <tr>
		        <td></td>
		        <td class = "listasItem">
        		    <a href="@Url.RouteUrl(new { controller = "ListasMaterial", action = "Editar", oid = listaMaterial.oid })">
			            <div class = "listasMaterialTexto"> @listaMaterial.CursoAno.oidSigla # @listaMaterial.oidAnoLectivo [ @listaMaterial.CursoAno.ano º ano ]</div>
                    </a>
                    @if (ViewBag.username != null && Roles.IsUserInRole(ViewBag.UserName, "Administrador"))
                    {
			            <ul class = "listasMaterialMenu">
				            <li class="botaoDentroDireita"><a href="@Url.RouteUrl(new { controller = "ListasMaterial", action = "Editar", id = listaMaterial.oid })"><img src="@Url.Content("~/Content/Imagens/Icones/editar.png")" alt="Editar"/></a></li>
				            <li class="botaoDentroDireita"><a href="@Url.RouteUrl(new { controller = "ListasMaterial", action = "Delete", id = listaMaterial.oid })"><img src="@Url.Content("~/Content/Imagens/Icones/eliminar.png")" alt="eliminar"/></a></li>
			            </ul>
                    }
		        </td>
	        </tr>
            }
        </table>
		<ul class = "navigateMenu">
            @if (Model.HasNextPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("HomeNormal", new { page = (Model.PageIndex + 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></a></li>
            }
            else
            { 
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/next.png")" alt="Próxima página"/></li>
            }
            @if (Model.HasPreviousPage)
            {
			    <li class="botaoDentroDireita"><a href="@Url.RouteUrl("HomeNormal", new { page = (Model.PageIndex - 1) })" class = "innerNavigateEnabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></a></li>
            }
            else
            {
			    <li class="botaoDentroDireita innerNavigateDisabled"><img src="@Url.Content("~/Content/Imagens/Icones/back.png")" alt="Página anterior"/></li>
            }
		</ul>
    }
    else
    {
        <p>Não existem listas para mostrar.</p>
    }
</div>